// Styles

@import 'variables';

* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

html {
	height: 100%;
}

.body-adjust {
	position: relative;
	min-height: 100%;
	padding-bottom: 130px;
}

h1 {
	font-family: $script-font;
	text-align: center;
}

h2, h3, h4, h5, h6 {
	font-family: $headline-font;
}

p, li, a {
	font-family: $body-font;
	text-decoration: none;
	color: $black;
}

@mixin transition($property) {
		-webkit-transition: $property;
		-moz-transition: $property;
	transition: $property;
}


//NAVIGATION

nav {
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;

	img {
		width: 200px;
		height: 120px;
		position: absolute;
		right: 20px;

		@media (min-width: 900px) {
			left: 50px;
		}
	}

	#menu-bar {
		list-style-type: none;
		display: flex;
		justify-content: space-around;
		padding-top: 40px;
		width: 70%;

		@media (max-width:899px) {
			visibility:hidden;
			overflow-x: hidden;
		}

		li a {
			display: flex;
			flex-wrap: wrap;
			text-align: center;
			width: 126px;
			@include transition(color 0.3s ease);
		}

		a:hover {
			color: $aqua;
		}
	}

	#menuToggle {
		display: block;
		position: relative;
		top: 40px;
		left: 30px;
		z-index: 1;
	    -webkit-user-select: none;
		user-select: none;

		@media (min-width:900px) {
			visibility:hidden;
		}

		input {
			display: block;
			width: 40px;
			height: 32px;
			position: absolute;
			top: -7px;
			left: -5px;
			cursor: pointer;
			opacity: 0;
			z-index: 2;
		    -webkit-touch-callout: none;
		}

		span {
			display: block;
			width: 33px;
			height: 4px;
			margin-bottom: 5px;
			position: relative;
			background: $dark-blue;
			border-radius: 3px;
			z-index: 1;
			transform-origin: 4px 0px;
			transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		            	background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		            	opacity 0.55s ease;
		}

		span:first-child {
			transform-origin: 0% 0%;
		}

		span:nth-last-child(2) {
			transform-origin: 0% 100%;
		}

		input:checked ~ span {
			opacity: 1;
			transform: rotate(45deg) translate(-2px, -1px);
			background: $white;
		}

		input:checked ~ span:nth-last-child(3) {
			opacity: 0;
			transform: rotate(0deg) scale(0.2, 0.2);
		}

		input:checked ~ span:nth-last-child(2) {
			transform: rotate(-45deg) translate(0, -1px);
		}

		input:checked ~ ul {
			transform: none;
		}
	}

	#menu {
		position: absolute;
		width: 100vw;
		margin: -100px 0 0 -30px;
		padding-bottom: 50px;
		padding-top: 125px;
		background: $dark-blue;
		list-style-type: none;
	    -webkit-font-smoothing: antialiased;
		transform-origin: 0% 0%;
		transform: translate(-100%, 0);
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

		li {
			padding: 10px 0;
			font-size: 1rem;
			text-align: center;
		}

		li a {
			color: $white;
			text-decoration: none;
			font-family: $body-font;
		}
	}
}


//HEADER - IMAGE SLIDER
/*
.slider {
	height: 400px;
	background-color: $orange;
}*/

.img-banner {
	background-image: url('../img/beach-path.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 300px;

	@media (min-width: 1200px) {
	height: 500px;
	}
}

.container {
 	width: 100%;
 	height: 250px;
	overflow: hidden;

	.timer {
		height: 1%;
		width: 0%;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 10;
	}

	.slideshow {
		position: relative;
		height: 100%;

		.slide {
			width: 100%;
			height: 100%;
			
			h3 {
				position: absolute;
				z-index: 10;
				color: $off-white;
				text-align: center;
				line-height: 320px;
				font-size: 2rem;
			}
			img {
				width: 100%;
				position: relative;

				.img-move-up {
					top: -100px;
				}

				@media (min-width: 450px) {
					top: -40px;
				}
				@media (min-width: 800px) {
					top: -100px;
				}
				@media (min-width: 1500px) {
					top: -200px;
				}
			}
		}
	}

	@media (min-width: 500px) {
		height: 300px;
	}
	@media (min-width: 600px) {
		height: 350px;
	}
	@media (min-width: 700px) {
		height: 400px;
	}
	@media (min-width: 900px) {
		height: 450px;
	}
	@media (min-width: 1000px) {
		height: 600px;
	}

	.big-screen {
		@media (min-width: 1200px) {
			height: 1000px;
		}
	}
}


//MAIN

main {
	h1 {
		padding: 40px 0 40px 0;
		width: 320px;
		margin: auto;
		color: $dark-blue;
		font-size: 1.8rem;

		@media (min-width: 600px) {
			padding-top: 60px;
			width: 450px;
			font-size: 2rem;
		}
		@media (min-width: 900px) {
			width: 600px;
			font-size: 2.5rem;
		}
	}
}

.home-main-style {
	p {
		text-align: center;
		padding: 10px 10% 10px 10%;
	}

	.link-button {
		margin-top: 40px;
		margin-bottom: 60px;
	}

	.calendar-page-text {
		max-width: 635px;
		margin: auto;
	}
}


//HOME HIGHLIGHTS

#home-highlights {

	background-color: $off-white;
	margin-bottom: 50px;

	h3 {
		padding-top: 60px;
		padding-bottom: 50px;
		text-align: center;
		font-size: 1.3rem;
		color: $dark-blue;
	}

	#highlight-box {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-bottom: 40px;

		.high-box-div {
			width: 90%;

			@media (min-width: 700px) {
				width: 48%;
			}

			img {
				width:300px;
				margin: auto;
				display: block;

				@media (min-width: 900px) {
					width: 400px;
				}
				@media (min-width: 1150px) {
					width: 500px;
				}
			}

			p {
				padding-top: 10px;
				padding-bottom: 20px;
				text-align: center;
				margin: auto;
				width: 300px;

				@media (min-width: 900px) {
					width: 400px;
				}
				@media (min-width: 1150px) {
					width: 500px;
				}
			}
		}
	}
}


//ABOUT

#about-intro {
	margin: 0 10px 0 10px;

	h1 {
		margin-bottom: 20px;
		@media (max-width: 599px) {
			font-size: 1.5rem;
		}
	}

	p {
		text-align: left;

		@media (min-width: 500px) {
			text-align: center;
		}
	}

	#address {
		margin-bottom: 20px;

		h3 {
			padding-bottom: 10px;
		}

		p {
			padding-left: 5px;
		}

		@media (min-width: 500px) {
			text-align: center;
		}
	}

	#about-details {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		margin: auto;
		border-top: 1px solid #000000;
		border-bottom: 1px solid #000000;
		padding: 20px 0 20px 0;

		h3 {
			width: 100vw;
			padding-bottom: 10px;

			@media (min-width: 500px) {
				text-align: center;
			}
		}

		.about-flex {
			display: flex;
			width: 300px;
			padding-left: 5px;

			p {
				padding: 0;
			}

			@media (min-width: 500px) {
				width: 150px;
				justify-content: center;
			}

			@media (min-width: 950px) {
				justify-content: flex-start;
			}
		}

		.first-icon {
			@media (min-wdith: 500px) {
				padding-left: 10px;
			}
		}

		@media (min-width: 500px) {
			justify-content: space-around;
		}

		@media (min-width: 700px) {
			width: 80%;
		}

		@media (min-width: 1050px) {
			width: 70%;
		}
	}

	.about-intro-p {
		padding: 40px 10px 40px 10px;
		max-width: 788px;

		@media (min-width: 800px) {
			margin: auto;
		}
	}
}

#img-slider-caps {

	#slider-wrap {
		width:300px;
		height:200px;
		position:relative;
		overflow:hidden;
		margin:auto;

		@media (min-width: 450px) {
			width:400px;
			height:300px;
		}
		@media (min-width: 600px) {
			width:600px;
			height:400px;
		}
		@media (min-width: 900px) {
			width:900px;
			height:700px;
		}

		#slider {
			width:100%;
			height:100%;
			position:absolute;
			top:0;
			left:0;
			list-style-type: none;	

			li {
				float:left;
				position:relative;
				width:300px;
				height:200px;

				@media (min-width: 450px) {
					width:400px;
					height:300px;
				}
				@media (min-width: 600px) {
					width:600px;
					height:400px;
				}
				@media (min-width: 900px) {
					width:900px;
					height:700px;
				}

				div{
					position:absolute;
					top:15px;
					left:25px;
					padding: 10px;
					background-color: rgba(255,255,255,0.7);

					@media (min-width: 450px) {
						top:20px;
						left:35px;
					}
					@media (min-width: 900px) {
						top:30px;
						left:45px;
					}

					h3 {
						@media (min-width: 450px) {
							color: $dark-blue;
							font-size: 1.5rem;
						}
						@media (min-width: 900px) {
							font-size: 1.8rem;
						}
					}

					span {
						display:none;
						@media (min-width: 450px) {
							color: $dark-blue;
							display:block;
							font-size: 1.1rem;
						}
						@media (min-width: 900px) {
							font-size: 1.3rem;
						}
					}	
				}	
			}

			.back-img {
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}

			#slide-1 {
				background-image: url('../img/complex.jpg');
			}
			#slide-2 {
				background-image: url('../img/patio.jpg');
			}
			#slide-3 {
				background-image: url('../img/patio-2.jpg');
			}
			#slide-4 {
				background-image: url('../img/kitchen.jpg');
			}
			#slide-5 {
				background-image: url('../img/livingroom.jpg');
			}
			#slide-6 {
				background-image: url('../img/couch.jpg');
			}
			#slide-7 {
				background-image: url('../img/dining.jpg');
			}
			#slide-8 {
				background-image: url('../img/balcony.jpg');
			}
			#slide-9 {
				background-image: url('../img/master.jpg');
			}
			#slide-10 {
				background-image: url('../img/bed-2.jpg');
			}
			/*#slide-11 {
				background-image: url('../img/.jpg');
			}*/
			#slide-12 {
				background-image: url('../img/pool.jpg');
			}
		}
	}

	.btns{
		position:absolute;
		width:50px;
		height:60px;
		top:50%;
		margin-top:-25px;
		line-height:57px;
		text-align:center;
		cursor:pointer;	
		background:rgba(0,0,0,0.1);
		z-index:100;
		
		
		-webkit-user-select: none;  
		-moz-user-select: none; 
		-khtml-user-select: none; 
		-ms-user-select: none;
		
		-webkit-transition: all 0.1s ease;
		-moz-transition: all 0.1s ease;
		-o-transition: all 0.1s ease;
		-ms-transition: all 0.1s ease;
		transition: all 0.1s ease;
	}

	.btns:hover{
		background:rgba(0,0,0,0.3);	
	}

	#next{right:-50px; border-radius:7px 0px 0px 7px;}
	#previous{left:-50px; border-radius:0px 7px 7px 7px;}
	#counter{
		top: 30px; 
		right:35px; 
		width:auto;
		position:absolute;
	}

	#slider-wrap.active #next{right:0px;}
	#slider-wrap.active #previous{left:0px;}

	/*bar*/
	#pagination-wrap{
		min-width:20px;
		margin-top:180px;
		margin-left: auto; 
		margin-right: auto;
		height:15px;
		position:relative;
		text-align:center;
		@media (min-width: 450px) {
			margin-top:280px;
		}
		@media (min-width: 600px) {
			margin-top:360px;
		}
		@media (min-width: 900px) {
			margin-top:660px;
		}
	}

	#pagination-wrap ul {
		width:100%;
	}

	#pagination-wrap ul li{
		margin: 0 4px;
		display: inline-block;
		width:5px;
		height:5px;
		border-radius:50%;
		background:#fff;
		opacity:0.5;
		position:relative;
	  	top:0;
	}

	#pagination-wrap ul li.active{
	  width:12px;
	  height:12px;
	  top:3px;
		opacity:1;
		box-shadow:rgba(0,0,0,0.1) 1px 1px 0px;	
	}

	/*ANIMATION*/
	#slider-wrap ul, #pagination-wrap ul li{
		-webkit-transition: all 0.3s cubic-bezier(1,.01,.32,1);
		-moz-transition: all 0.3s cubic-bezier(1,.01,.32,1);
		-o-transition: all 0.3s cubic-bezier(1,.01,.32,1);
		-ms-transition: all 0.3s cubic-bezier(1,.01,.32,1);
		transition: all 0.3s cubic-bezier(1,.01,.32,1);	
	}
}


#amenities {
	margin-top: 50px;
	margin-bottom: 50px;

	h2 {
		text-align: center;
		padding-bottom: 10px;
		border-bottom: 1px solid #000000;
		width: 200px;
		margin: auto;
	}


	#amenities-flex {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 1100px;
		padding: 20px 10px 0 10px;
		margin: auto;

		@media (min-width: 650px) {
			margin: 20px 25px 0 25px;
			justify-content: space-around;
		}

		@media (min-width: 1100px) {
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
		}

		.amenities-flex-box {
			width: 80%;
			max-width: 350px;
			padding-bottom: 15px;

			@media (min-width: 620px) {
			max-width: 300px;
			height: 100px;
			padding-bottom: 0;
			}

			@media (min-width: 400px) and (max-width: 619px) {
				text-align: center;
			}
		}
	}
}


//THINGS TO DO

#activities-page {
	padding-bottom: 50px;
}

.beaches {
	background-color: $orange;
}

.tours {
	background-color: $off-white;
}

.food {
	background-color: $aqua;
	margin-bottom: 50px;
}

.to-do-box {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	flex-wrap: wrap;

	@media (min-width: 400px) {
		width: 80%;
	}
	@media (min-width: 1000px) {
		width: 80%;
		max-width: 1000px;
	}

	.sidebar {
		width: 500px;
		margin: auto;

		h2 {
			text-align: center;
			padding: 40px 0 20px 0;

			@media (min-width: 1000px) {
				text-align: left;
				padding-left: 40px;
			}
		}

		p {
			padding: 0 30px 0 40px; 
			max-width: 500px;

			@media (min-width: 1000px) {
				margin: auto;
				padding-bottom: 50px;
			}
		}
	}

	.flex-things-to-do {
		width: 300px;
		margin: auto;
		padding: 30px 0 50px 0;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		h3 {
			width: 300px;
			text-align: center;
			padding-bottom: 10px;
			color: $black;
			@include transition(color 0.3s ease);
		}

		a:hover {
			color: $dark-blue;
		}

		@media (min-width: 1000px) {
			padding-top: 100px;
		}
	}
}


//CALENDAR

#calendar-div {
	background-color: $off-white;
	margin: 50px 0 50px 0;
	
	#calendar {
		padding-top: 40px;
		padding-bottom: 40px;
		height: 500px;
		margin: auto;
		width: 300px;
		font-family: $headline-font;
		text-align: center;

		h2 {
			padding-bottom: 20px;
		}

		@media (min-width: 500px) {
			width: 450px;
		}
		@media (min-width: 700px) {
			width: 650px;
		}
	}
}


//CONTACT

#contact {
	margin-top: 75px;
	.form-container {
		font-family: $body-font;
	    border-radius: 5px;
	    background-color: $off-white;
	    padding: 20px;
	    margin-left: auto;
	    margin-right: auto;
	    margin-bottom: 50px;
	    display: flex;
	    justify-content: space-around;
	    flex-wrap: wrap;
	    max-width: 1100px;

	    h1 {
	    	width: 100%;
	    	text-align: center;
	    	padding: 40px 0 40px 0;
	    }

	    #us {
	    	width: 250px;
	    	height: 100%;
	    	padding: 0 10px 20px 10px;

			@media (min-width: 400px) {
	    		width: 340px;
	    	}
	    	@media (min-width: 750px) {
	    		width: 440px;
	    	}
	    }

	    form {
	    	width: 260px;
	    	padding-bottom: 40px;

			@media (min-width: 400px) {
	    		width: 350px;
	    	}
	    	@media (min-width: 650px) and (max-width: 749px) {
	    		padding-left: 10px;
	    	}
	    	@media (min-width: 750px) {
	    		width: 500px;
	    	}
	    }

		input[type=text], input[type=email], input[type=tel], input[type=date], select, textarea {
		    width: 260px;
		    padding: 12px;
		    border: 1px solid #ccc;
		    border-radius: 4px;
		    box-sizing: border-box;
		    margin-top: 6px;
		    margin-bottom: 16px;
		    resize: vertical;

			@media (min-width: 400px) {
	    		width: 350px;
	    	}
		    @media (min-width: 750px) {
	    		width: 500px;
	    	}
		}

		div {
			width: 100%;
			display: flex;

			label.dates {
				width: 150px;
				display: block;

				input[type=date] {
					width: 140px !important;
				}
			}

			.date-2 {
				padding-left: 5px;
			}
		}


		input[type=submit] {
		    background-color: $dark-blue;
		    color: white;
		    padding: 12px 20px;
		    border: none;
		    border-radius: 4px;
		    cursor: pointer;
		}

		input[type=submit]:hover {
		    background-color: $aqua;
		}
	}
}


//FOOTER

footer {
	background-color: $dark-blue;

	ul, p {
		text-align: center;
	}

	ul {
		list-style-type: none;
		padding-top: 15px;

		li {
			display: inline;
			font-family: $headline-font;
			font-size: 1.2rem;
			padding: 2%;
		}

		a {
			color: $orange;
			text-decoration: none;
			@include transition(color 0.3s ease);
		}

		a:hover {
			color: $white;
		}
	}

	#logo-font {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		h2 {
			color: $white;
			padding: 0 5px 0 5px;
		}

		.sub-logo1 {
			font-family: $script-font;
			font-weight: normal;
			font-size: 1.7rem;
			padding-top: 8px;
			@media (min-width: 417px) {
				padding-bottom: 15px;
			}
		}

		.sub-logo2 {
			font-family: $headline-font;
			align-self: center;
			padding-bottom: 15px;
			@media (min-width: 417px) {
				padding-top: 8px;
			}
		}
	}

	p {
		color: $orange;
		padding-bottom: 15px;
		font-size: 0.8rem;

		a {
			color: $orange;
			@include transition(color 0.3s ease);
		}

		a:hover {
			color: $white;
		}
	}
}

.bottom-footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
}













#landing-header {
	img {
		width: 300px;
		display: block;
		padding-top: 20px;
		margin: auto;
	}
}

#landing-page {
	margin-bottom: 30px;

	h1 {
		color: $dark-blue;
		padding-top: 50px;
		width: 300px;
		font-size: 1.6rem;
		margin: auto;

		@media (min-width: 500px) {
			font-size: 2rem;
			width: 450px;
		}
	}

	p {
		text-align: center;
		padding: 20px 10%;
		max-width: 650px;
		margin: auto;

		@media (min-width: 500px) {
			font-size: 1.2rem;
		}
	}
}

#communication {
	margin-top: 80px;
	padding-bottom: 50px;
	background-color: $aqua;

	.availability {
		padding-top: 40px;
		padding-bottom: 100px;
		height: 500px;
		margin: auto;
		width: 300px;
		font-family: $headline-font;
		text-align: center;

		h2 {
			padding-bottom: 20px;
		}

		@media (min-width: 500px) {
			width: 450px;
		}
		@media (min-width: 700px) {
			width: 650px;
		}
	}

	.container {
		font-family: $body-font;
	    border-radius: 5px;
	    background-color: #BCF8EC;
	    padding: 20px;
	    width: 80%;
	    margin: auto;
	    display: flex;
	    justify-content: space-around;
	    flex-wrap: wrap;

	    h2 {
	    	width: 100%;
	    	text-align: center;
	    	padding: 40px 0 40px 0;
	    }

	    #us {
	    	width: 250px;
	    	height: 100%;
	    	padding-bottom: 40px;

	    	@media (min-width: 750px) {
	    		width: 350px;
	    	}
	    }

	    form {
	    	width: 260px;
	    	padding-bottom: 40px;

	    	@media (min-width: 650px) and (max-width: 749px) {
	    		padding-left: 10px;
	    	}

	    	@media (min-width: 750px) {
	    		width: 500px;
	    	}
	    }

		input[type=text], input[type=email], input[type=tel], select, textarea {
		    width: 260px;
		    padding: 12px;
		    border: 1px solid #ccc;
		    border-radius: 4px;
		    box-sizing: border-box;
		    margin-top: 6px;
		    margin-bottom: 16px;
		    resize: vertical;

		    @media (min-width: 750px) {
	    		width: 500px;
	    	}
		}

		input[type=submit] {
		    background-color: $dark-blue;
		    color: white;
		    padding: 12px 20px;
		    border: none;
		    border-radius: 4px;
		    cursor: pointer;
		}

		input[type=submit]:hover {
		    background-color: $aqua;
		}
	}
}
