// Styles

@import 'variables';

* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

h1 {
	font-family: $script-font;
	text-align: center;
}

h2, h3, h4, h5, h6 {
	font-family: $headline-font;
}

p, li, a {
	font-family: $body-font;
	text-decoration: none;
	color: $black;
}

@mixin transition($property) {
		-webkit-transition: $property;
		-moz-transition: $property;
	transition: $property;
}


//NAVIGATION

nav {
	display: flex;
	justify-content: space-between;

	img {
		width: 200px;
		height: 120px;
		position: absolute;
	}

	#menu-bar {
		list-style-type: none;
		display: flex;
		justify-content: space-around;
		padding-top: 40px;
		width: 70%;

		li a {
			display: flex;
			flex-wrap: wrap;
			text-align: center;
			width: 126px;
			@include transition(color 0.3s ease);
		}

		a:hover {
			color: $aqua;
		}
	}
}

//HEADER - IMAGE SLIDER

header {
	height: 400px;
	background-color: $orange;
	margin-top: 40px;
}

//MAIN

main {
	h1 {
		padding: 40px 0 40px 0;
		width: 450px;
		margin: auto;
		color: $dark-blue;
	}

	p {
		text-align: center;
		padding: 10px 10% 10px 10%;
	}

	.link-button {
		margin-top: 40px;
		margin-bottom: 50px;
	}
}

//HOME HIGHLIGHTS

#home-highlights {
	height: 600px;
	background-color: $dark-green;
	margin-bottom: 40px;
}

//FOOTER

footer {
	background-color: $dark-blue;

	ul, p {
		text-align: center;
	}

	ul {
		list-style-type: none;
		padding-top: 15px;

		li {
			display: inline;
			font-family: $headline-font;
			font-size: 1.2rem;
			padding: 2%;
		}

		a {
			color: $orange;
			text-decoration: none;
			@include transition(color 0.3s ease);
		}

		a:hover {
			color: $white;
		}
	}

	#logo-font {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		h2 {
			color: $white;
			padding: 8px 5px 15px 5px;
		}

		.sub-logo1 {
			font-family: $script-font;
			font-weight: normal;
			font-size: 1.7rem;
		}

		.sub-logo2 {
			font-family: $headline-font;
			align-self: center;
		}
	}

	p {
		color: $orange;
		padding-bottom: 15px;
		font-size: 0.8rem;

		a {
			color: $orange;
			@include transition(color 0.3s ease);
		}

		a:hover {
			color: $white;
		}
	}
}






#landing-page {
	margin-bottom: 30px;

	h1 {
		color: $dark-blue;
		padding-top: 50px;
		width: 300px;
		font-size: 1.6rem;
		margin: auto;

		@media (min-width: 500px) {
			font-size: 2rem;
			width: 450px;
		}
	}

	p {
		text-align: center;
		padding: 20px 10%;
		max-width: 650px;
		margin: auto;

		@media (min-width: 500px) {
			font-size: 1.2rem;
		}
	}
}

#communication {
	margin-top: 80px;
	padding-bottom: 50px;
	background-color: $aqua;

	.availability {
		height: 500px;
	}

	.container {
		font-family: $body-font;
	    border-radius: 5px;
	    background-color: #BCF8EC;
	    padding: 20px;
	    width: 80%;
	    margin: auto;
	    display: flex;
	    justify-content: space-around;
	    flex-wrap: wrap;

	    h2 {
	    	width: 100%;
	    	text-align: center;
	    	padding: 10px 0 40px 0;
	    }

	    #us {
	    	width: 300px;
	    	height: 100%;
	    	padding-bottom: 40px;
	    }

	    form {
	    	width: 300px;

	    	@media (min-width: 750px) {
	    		width: 500px;
	    	}
	    }

		input[type=text], input[type=email], input[type=tel], select, textarea {
		    width: 300px;
		    padding: 12px;
		    border: 1px solid #ccc;
		    border-radius: 4px;
		    box-sizing: border-box;
		    margin-top: 6px;
		    margin-bottom: 16px;
		    resize: vertical;

		    @media (min-width: 750px) {
	    		width: 500px;
	    	}
		}

		input[type=submit] {
		    background-color: $dark-blue;
		    color: white;
		    padding: 12px 20px;
		    border: none;
		    border-radius: 4px;
		    cursor: pointer;
		}

		input[type=submit]:hover {
		    background-color: $aqua;
		}
	}
}
