// Variables

$white: #ffffff;
$dark-blue: #028090;
$aqua: #84DCC6;
$orange: #F98857;
$lite-green: #DCF27B;
$dark-green: #8DBAA1;
$black: #000000;
$off-white: #FFF7ED;

@import url('https://fonts.googleapis.com/css?family=Lily+Script+One|Montserrat:400,400i,500,500i,600,600i,700,700i|Open+Sans:400,400i,600,600i');

$script-font: 'Lily Script One', cursive;
$headline-font: 'Montserrat', sans-serif;
$body-font: 'Open Sans', sans-serif;

.link-button {
	padding: 5px;
	border-radius: 10px;
	border: 4px solid $orange;
	width: 200px;
	margin: auto;
	text-align: center;
	color: $orange;
	font-family: $headline-font;
	font-size: 1.2rem;
}