// Variables

$white: #ffffff;
$dark-blue: #028090;
$aqua: #84DCC6;
$orange: #F98857;
$lite-green: #DCF27B;
$dark-green: #8DBAA1;
$black: #000000;

@import url('https://fonts.googleapis.com/css?family=Lily+Script+One|Montserrat:400,400i,500,500i,600,600i,700,700i|Open+Sans:400,400i,600,600i');

$script-font: 'Lily Script One', cursive;
$headline-font: 'Montserrat', sans-serif;
$body-font: 'Open Sans', sans-serif;

